/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row,
	.col,
	.flex-container {
		display: flex;
		flex-direction: row;
		
	}
	
	.col {
		flex: 1;
		flex-direction: column;
	}

	/* Clear floats after image containers */
	.row::after {
		content: "";
		clear: both;
		display: table;
  	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}


	.button {
		margin-top: auto;
		align-self: flex-start; /* flex-end */
	}

}

@media (min-width: 1025px) {

	.main-header,
	.main-nav,
	.row,
	.flex-container {
		flex-direction: row;
		justify-content: space-between;
	}
	

}
