/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
  }

	.main-header {
		flex-direction: column;
		align-items: center;
	}


	.button {
		margin-top: auto;
		align-self: flex-start; /* flex-end */
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}